%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-svgsprite__phonelink {
	@extend %svg-common;
	background-position: 57.655104063429135% 54.00949367088607%;
}

.svg-svgsprite__phonelink-dims {
	width: 16px;
	height: 16px;
}

.svg-svgsprite_arrow_pointing_down {
	@extend %svg-common;
	background-position: 46.332307692307694% 56.018599562363235%;
}

.svg-svgsprite_arrow_pointing_down-dims {
	width: 50px;
	height: 50px;
}

.svg-svgsprite_calendar {
	@extend %svg-common;
	background-position: 53.32067932067932% 54.469148936170214%;
}

.svg-svgsprite_calendar-dims {
	width: 24px;
	height: 24px;
}

.svg-svgsprite_close {
	@extend %svg-common;
	background-position: 99.80701754385964% 0;
}

.svg-svgsprite_close-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_error {
	@extend %svg-common;
	background-position: 0 99.95119665794714%;
}

.svg-svgsprite_error-dims {
	width: 451.74px;
	height: 451.74px;
}

.svg-svgsprite_marker {
	@extend %svg-common;
	background-position: 59.240832507433105% 54.00949367088607%;
}

.svg-svgsprite_marker-dims {
	width: 16px;
	height: 16px;
}

.svg-svgsprite_new_post {
	@extend %svg-common;
	background-position: 60.82656095143707% 54.00949367088607%;
}

.svg-svgsprite_new_post-dims {
	width: 16px;
	height: 16px;
}

.svg-svgsprite_phone {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-svgsprite_phone-dims {
	width: 512.01px;
	height: 512.01px;
}

.svg-svgsprite_telegram_app {
	@extend %svg-common;
	background-position: 55.718281718281716% 54.469148936170214%;
}

.svg-svgsprite_telegram_app-dims {
	width: 24px;
	height: 24px;
}

.svg-svgsprite_viber {
	@extend %svg-common;
	background-position: 50.527693856998994% 54.93669527896996%;
}

.svg-svgsprite_viber-dims {
	width: 32px;
	height: 32px;
}

